.about-us {
    font-family:  Inter var, sans-serif;
    background-color: #ffb8a6;
}

.three-images {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    text-align: center;
    font-size: 20px;
}

.image-box {
    width: 200px;
    border-radius: 200px;
    height: 200px;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.icon {
    height: 25px;
    width: 25px;
}

.footer {
    background-image: linear-gradient(to right,#f73302, #f4a693,#f73302);
    color: white;
    text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.footer-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.footer-line {
    border-color: white;
    border-style: solid;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 20px;
    color: white;
}

a {
    text-decoration: none;
}