.about-us {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fcd0c5;
}

.about-us-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.about-us-left {
    flex: 1;
    padding: 0;
    margin: 0;
}

.about-us-left img {
    width: 300px; /* Adjust image width */
    height: 400px;
    border-radius: 2px;
}

.about-us-right {
    flex: 2;
    padding: 0;
    display: flex;  /* Use flexbox to align content */
    justify-content: flex-end;  /* Push image to the right side */
    align-items: center;  /* Vertically align image with text */
}

.about-us-right img {
    width: 600px; /* Set image width */
    height: 300px; /* Set image height */
    border-radius: 2px;
    margin-left: 20px; /* Add space between the text and image */
}

.about-us-right p {
    font-size: 1.1em;
    line-height: 1.6;
}

.three-images {
    display: flex;
    justify-content: space-between;
}

.image-box {
    text-align: center;
    flex: 1;
    padding: 10px;
}

.image-box {
    width: 120px;
    border-radius: 80px;
    border-radius: 8px;
    height: 120px;
}

.image-box p {
    font-size: 1em;
    margin-top: 10px;
}

.icon {
    height: 50px;
    width: 50px;
}