
.login-container {
    font-family:  Inter var, sans-serif;
    background-color: #ffb8a6;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 100px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    text-align: center;
    border-color: white;
    border-style: solid;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .login-form button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #f73302;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .input {
    text-align: left;
    font-weight: bold;
  }
  
  .register-prompt {
    margin-top: 15px;
    font-size: 14px;
    color: black;
  }
  
  .register-prompt a {
    text-decoration: none;
    color: #f73302;
    font-weight: bold;
  }
  
  .register-prompt a:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-image: linear-gradient(to right,#f73302, #f4a693,#f73302);
    color: white;
    text-align: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0;
  }

.footer-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.footer-line {
    border-color: white;
    border-style: solid;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 20px;
    color: white;
}

a {
    text-decoration: none;
}