
.register-container {
  font-family:  Inter var, sans-serif;
  background-color: #ffb8a6;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 100px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    text-align: center;
    border-color: white;
    border-style: solid;
  }

  .input {
    text-align: left;
    font-weight: bold;
  }
  
  .register-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 480px; /* Ensures the inputs are aligned and take the full width */
    outline: none;
  }
  
  .register-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #f73302;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
  }
  
  .register-link {
    margin-top: 15px;
    font-size: 14px;
    color: black;
  }
  
  .register-link a {
    text-decoration: none;
    color: #f73302;
    font-weight: bold;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  